{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 46.5122893,
    "longitude": 15.699119,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Ljubljana",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "SI",
    "language": "en",
    "radius": 100
  }
}